* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: orange;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  h1 {
    font-size: 2rem;
    color: white;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;

  &::before {
    content: 'Logo';
    color: #3f4345;
    font-size: 1rem;
    font-weight: bold;
  }
}

nav {
  background-color: rgb(30, 111, 178);
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;

  a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    width: auto;
    text-align: center;
    font-weight: bold;
  }
}

main {
  flex: 1;
  padding: 1rem;
  color: #354b58;

  h2,
  p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}

aside {
  background-color: rgb(220, 247, 220);
  padding: 0.8rem;

  h3 {
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 4rem;
    justify-content: center;
  }

  h2,
  p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}

footer {
  background-color: rgb(44, 157, 87);
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'header header'
      'nav nav'
      'main aside'
      'footer footer';
    min-height: 100vh;
    gap: 0;
  }

  header {
    grid-area: header;
    display: flex;
  }

  nav {
    grid-area: nav;
    align-items: center;
    justify-content: flex-start;

    a:first-child {
      margin-left: 1rem;
    }
  }

  main {
    grid-area: main;
    overflow: auto;

    h2,
    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }

  aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;

    div {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }
  }

  footer {
    grid-area: footer;
  }
}
